In [2]:
import pandas as pd

In [28]:
sam=pd.read_csv('votingMachineAge.csv')

In [29]:
sam.head(10)

,fips_code,state,county,muni,first_year_range,equip_type,voting_machine,dre_paper_trail,mail_vote
0,100100000,AL,Autauga County,NaN,2014 to 2016,Optical Scan,DS200,NaN,0.0
1,100300000,AL,Baldwin County,NaN,2014 to 2016,Optical Scan,DS200,NaN,0.0
2,100500000,AL,Barbour County,NaN,2014 to 2016,Optical Scan,DS200,NaN,0.0
3,100700000,AL,Bibb County,NaN,2008 or earlier,Optical Scan,Model 100,NaN,0.0
4,100900000,AL,Blount County,NaN,2014 to 2016,Optical Scan,DS200,NaN,0.0
5,101100000,AL,Bullock County,NaN,2014 to 2016,Optical Scan,DS200,NaN,0.0
6,101300000,AL,Butler County,NaN,2014 to 2016,Optical Scan,DS200,NaN,0.0
7,101500000,AL,Calhoun County,NaN,2014 to 2016,Optical Scan,DS200,NaN,0.0
8,101700000,AL,Chambers County,NaN,2008 or earlier,Optical Scan,Model 100,NaN,0.0
9,101900000,AL,Cherokee County,NaN,2014 to 2016,Optical Scan,DS200,NaN,0.0

In [14]:
y=sam[['Leave']]

In [15]:
x=sam[['Serial Number']]

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [20]:
# instance creation 
lr=LinearRegression()

In [21]:
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [22]:
y_pred=lr.predict(x_test)

In [23]:
y_test.head()

      Leave
374       0
1066      0
1923      1
1686      2
1264      0

In [24]:
y_pred[0:5]

array([[1.01089303],
       [1.01092009],
       [1.0108931 ],
       [1.01092017],
       [1.01091932]])

In [25]:
# for removing errors/residuals we import metrics
from sklearn.metrics import mean_squared_error

In [26]:
mean_squared_error(y_test,y_pred)

3.367766218228496

# Logistic regression

In [1]:
import pandas as pd
data =pd.read_csv('Sample2000.csv')
data.head(20)

,Serial Number,Company Name,Employee Markme,Description,Leave
0,9788189999599,TALES OF SHIVA,Mark,mark,0
1,9780099578079,1Q84 THE COMPLETE TRILOGY,HARUKI MURAKAMI,Mark,0
2,9780198082897,MY KUMAN,Mark,Mark,0
3,9780007880331,THE GOD OF SMAAL THINGS,ARUNDHATI ROY,4TH HARPER COLLINS,2
4,9780545060455,THE BLACK CIRCLE,Mark,4TH HARPER COLLINS,0
5,9788126525072,THE THREE LAWS OF PERFORMANCE,Mark,4TH HARPER COLLINS,0
6,9789381626610,CHAMarkKYA MANTRA,Mark,4TH HARPER COLLINS,0
7,9788184513523,59.FLAGS,Mark,4TH HARPER COLLINS,0
8,9780743234801,THE POWER OF POSITIVE THINKING FROM,Mark,A & A PUBLISHER,0
9,9789381529621,YOU CAN IF YO THINK YO CAN,PEALE,A & A PUBLISHER,0
10,9788183223966,DONGRI SE DUBAI TAK (MPH),Mark,A & A PUBLISHER,0
11,9788187776005,MarkLANDA ADYTAN KOSH,Mark,AADISH BOOK DEPOT,0
12,9788187776013,MarkLANDA VISHAL SHABD SAGAR,-,AADISH BOOK DEPOT,1
13,8187776021,MarkLANDA CONCISE DICT(ENG TO HINDI),Mark,AADISH BOOK DEPOT,0
14,9789384716165,LIEUTEMarkMarkT GENERAL BHAGAT: A SAGA OF BRAV...,Mark,AAM COMICS,2
15,9789384716233,LN. MarkIK SUNDER SINGH,N.A,AAN COMICS,0
16,9789384850319,I AM KRISHMark,DEEP TRIVEDI,AATMAN INNOVATIONS PVT LTD,1
17,9789384850357,DON'T TEACH ME TOLERANCE INDIA,DEEP TRIVEDI,AATMAN INNOVATIONS PVT LTD,0
18,9789384850364,MUJHE SAHISHNUTA MAT SIKHAO BHARAT,DEEP TRIVEDI,AATMAN INNOVATIONS PVT LTD,0
19,9789384850746,SECRETS OF DESTINY,DEEP TRIVEDI,AATMAN INNOVATIONS PVT LTD,1

In [2]:
x=data[['Employee Markme']]
y=data[['Leave']]

In [3]:
from sklearn.linear_model import LogisticRegression

In [4]:
log_model=LogisticRegression

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.35)

In [7]:
log_model.fit(x_train,y_train)

TypeError: fit() missing 1 required positional argument: 'y'

In [18]:
y_pred=log_model.predict(x_test)

TypeError: predict() missing 1 required positional argument: 'X'

In [9]:
y_train.head()

      Leave
1097      0
1537      0
710       7
433       0
959       0

In [10]:
y_pred[0:5]

NameError: name 'y_pred' is not defined

In [11]:
from sklearn.metrics import confusion_matrix

In [1]:
confusion_matrix(y_test,y_pred)

NameError: name 'confusion_matrix' is not defined

In [ ]:
# accuracy=leftDiagonal/TotalSum