In [2]:
import pandas as pd
s1=pd.Series([1,5,6,8,9,4])
s1

0    1
1    5
2    6
3    8
4    9
5    4
dtype: int64

In [3]:
type(s1)

pandas.core.series.Series

In [4]:
s2=pd.Series([1,5,6,8,9,4],index=['a','b','c','d','e','f'])
s2

a    1
b    5
c    6
d    8
e    9
f    4
dtype: int64

In [5]:
import pandas as pd
pd.DataFrame({'Name':['Ajay','Anshu','sachin','Shikha'],'Marks':['50','30','40','45']})

     Name Marks
0    Ajay    50
1   Anshu    30
2  sachin    40
3  Shikha    45